// Padding
@for $i from 0 to 15 {
  .padding-v-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;

    &--important {
      padding-top: #{$i}rem !important;
      padding-bottom: #{$i}rem !important;
    }
  }
}

@for $i from 0 to 15 {
  .padding-h-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;

    &--important {
      padding-left: #{$i}rem !important;
      padding-right: #{$i}rem !important;
    }
  }
}

@for $i from 0 to 15 {
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}rem;
  }
}
